<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Store\App\Request\PathInfoProcessor">
        <plugin name="Experius_MultipleWebsiteStoreCodeUrl_Plugin_Store_App_Request_PathInfoProcessor" type="Experius\MultipleWebsiteStoreCodeUrl\Plugin\Store\App\Request\PathInfoProcessor" sortOrder="1" />
    </type>
	<type name="Magento\Store\App\Request\StorePathInfoValidator">
		<plugin disabled="false" name="Experius_MultipleWebsiteStoreCodeUrl_Plugin_Magento_Store_App_Request_StorePathInfoValidator" sortOrder="10" type="Experius\MultipleWebsiteStoreCodeUrl\Plugin\Magento\Store\App\Request\StorePathInfoValidator"/>
	</type>
	<type name="Magento\UrlRewrite\Model\StoreSwitcher\RewriteUrl">
		<plugin disabled="false" name="Experius_MultipleWebsiteStoreCodeUrl_Plugin_Magento_UrlRewrite_Model_StoreSwitcher_RewriteUrl" sortOrder="10" type="Experius\MultipleWebsiteStoreCodeUrl\Plugin\Magento\UrlRewrite\Model\StoreSwitcher\RewriteUrl"/>
	</type>
    <type name="Magento\Store\Model\Store">
        <plugin name="Experius_MultipleWebsiteStoreCodeUrl_Plugin_Store_Model_Store" type="Experius\MultipleWebsiteStoreCodeUrl\Plugin\Store\Model\Store" sortOrder="1" />
    </type>
</config>
