<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="remove_website_code_from_store_url" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Remove website code from store url</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/use_store">1</field>
                    </depends>
                    <comment>
                        <![CDATA[If enabled the string "{website_code}_" will be removed from the store_code before adding it to the url.]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>